.post-title {
  margin-bottom: 2rem;
}

.post-subtitle {
  color: rgba(33, 37, 41, 0.75);
}

.post-time-stamp {
  font-size: 0.75rem;
}

.post-header {
  margin-bottom: 3rem;
}

.post-main {
  margin-bottom: 3rem;
}

.post-tag {
  font-size: 0.9rem;
  border: 1px solid #dee2e6;
  border-radius: .375rem;
  padding: 0.25rem;
}

.back-link {
  text-decoration: none;
  cursor: pointer;
  color: unset;
	display: inline-flex;
	gap: .375rem;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.post-container {
  max-width: 45rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.star-rating {
  direction: rtl;
  display: inline-block;
  cursor: pointer;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ddd;
  font-size: 24px;
  padding: 0 2px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.star-rating label:hover,
.star-rating label:hover~label,
.star-rating input:checked~label {
  color: #ffc107;
}