body {
  /* background-color: #f9f9f9; */
  /* background-color: #e9ecef; */
  background-color: #f8f9fa;
  color: #333;
}

body, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

#navbarSupportedContent .nav-item:hover {
  border-radius: 0.5rem;
  background-color: #2070B2;
  transition: background-color 0.3s ease; 
}

#navbarSupportedContent a.nav-link {
  color: #FEFEFE;
  font-weight: 400;
}

#link-last-blog {
  text-decoration: none;
  color: #000000;
}

#link-last-blog:hover {
  color: #2070B2;
}

#carousel-inner {
  scroll-behavior: smooth;
}

.carousel-btn {
  appearance: none;
  background: none;
  color: inherit;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  border: 0px;
  display: flex;
  height: 32px;
  width: 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
}
.carousel-btn svg {
	height: 24px;
	width: auto;
}

.carousel-btn:disabled {
	opacity: 0.5;
	cursor: not-allowed;
	background-color: transparent;
}

.carousel-btn:hover {
  background-color: #545658;
  color: #ffffff;
}

.carousel-controllers {
	color: #000000;
	display: flex;
	height: auto;
	column-gap: 12px;
	margin-left: auto;
	margin-right: 0px;
	width: 72px;
}

footer {
  background: #1d2833;
  color: #e6eef3;
  text-align: center;
  padding: 0.5rem;
  margin-top: 1rem;
  font-style: italic;
}

a:hover .card-title {
  text-decoration: underline;
}

.question-item {
  transition: background-color 0.3s ease;
}

.question-item:hover {
  background-color: #e9ecef;
}

.sugested-question {
  background-color: #C5DCEF;
  transition: background-color 0.3s ease;
}

.sugested-question:hover {  
  background-color: #2070B2; 
  color: #FFFFFF;
}